html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  line-height: 1.6;
  transition: all 2s ease-in-out;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: local("Ubuntu-Regular"),
    url("../public/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: local("Ubuntu-Medium"),
    url("../public/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: local("Ubuntu-Bold"),
    url("../public/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

.fontFaceUbuntuRegular {
  font-family: "Ubuntu-Regular" !important;
}

.fontFaceUbuntuMedium {
  font-family: "Ubuntu-Medium" !important;
}

.fontFaceUbuntuBold {
  font-family: "Ubuntu-Bold" !important;
}

/* Colors */
.white {
  color: hsl(0, 0%, 100%);
}

.white-bg {
  background-color: hsl(0, 0%, 100%);
}

.alabaster {
  color: hsl(0, 0%, 100%);
}

.alabaster-bg {
  background-color: hsl(231, 100%, 99%);
}

.magnolia {
  color: hsl(217, 100%, 97%) !important;
}

.magnolia-bg {
  background-color: hsl(217, 100%, 97%);
}

.light-grey {
  color: hsl(229, 24%, 87%);
}

.light-grey-bg {
  background-color: hsl(229, 24%, 87%);
}

.cool-grey {
  color: hsl(231, 11%, 63%);
}

.cool-grey-bg {
  background-color: hsl(231, 11%, 63%);
}

.strawberry-red {
  color: hsl(354, 84%, 57%);
}

.strawberry-red-bg {
  background-color: hsl(354, 84%, 57%);
}

.light-blue {
  color: hsl(206, 94%, 87%);
}

.light-blue-bg {
  background-color: hsl(206, 94%, 87%);
}

.pastel-blue {
  color: hsl(228, 100%, 84%);
}

.pastel-blue-bg {
  background-color: hsl(228, 100%, 84%);
}

.purplish-blue {
  color: hsl(243, 100%, 62%);
}

.purplish-blue-bg {
  background-color: hsl(243, 100%, 62%);
}

.marine-blue {
  color: hsl(213, 96%, 18%) !important;
}

.marine-blue-bg {
  background-color: hsl(213, 96%, 18%);
}

/* layout.js */
.content {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

/* Index.js */
.centered-content {
  width: 500px;
  min-height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 700px) {
  .centered-content {
    width: 100% !important;
    align-items: start !important;
  }
}

.mobile {
  width: 100%;
  padding-bottom: 4rem;
}

.main-content-mobile {
  min-height: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 12px -4px hsl(229, 24%, 87%);
}

.header {
  height: 182px;
  background: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  height: 5rem;
  width: 100%;
  padding: 1rem;
  bottom: 0;
}

.steps {
  width: 50%;
  margin: 0 auto;
  padding: 2em 0;
}

.steps>div>span {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 2px;
  border-radius: 30px;
  border: 1px solid hsl(217, 100%, 97%);
  color: hsl(217, 100%, 97%);
}

/* End Mobile */

/* Mobile & Desktop */
.form-wrapper {
  padding: 1.5rem;
}

label {
  margin-top: 1em;
}

label:first-of-type {
  margin-top: unset;
}

input:focus {
  border: 1px solid hsl(243, 100%, 62%);
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  padding: .8em;
}

input.form-error {
  border: 1px solid hsl(354, 84%, 57%) !important;
}

.tab {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  transition: height 0.2s ease-in-out;
}
.tab:first-of-type {
  margin-top: unset;
}
.tab.selected {
  border: 1px solid hsl(243, 100%, 62%);
  background: hsl(231, 100%, 99%);
}

.tab-icon {
  margin-right: 1em;
}
/*End Mobile & Desktop */

.billing {
  border-radius: 5px;
  margin-top: 1em;
}
.billing-tab.switch {
  position: relative;
  top: 5px;
}
.switch{
  height: 17.2px;
  width: 33px;
  border-radius: 50px;
  text-align: right;
  cursor: pointer;
}
.switch-knob {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  display: inline-block;
  margin: 4px;
  transition: transform 0.2s ease-in-out;
}
.switch-knob.off {
  transform: translateX(0px);
}
.switch-knob.on {
  transform: translateX(15px);
}
.billing-tab {
  display: inline-block;
  margin-right: 2em;
}
.billing-tab:last-of-type {
  margin-right: unset;
}
.billing-content{
  width: auto;
  display: inline-block;
  margin: 0 auto;
}
.pp8 {
  padding: .8em;
}
.mt--1 {
  margin-top: -1rem;
}

.mt--2 {
  margin-top: -2rem;
}

.mt--3 {
  margin-top: -3rem;
}

.mt--54 {
  margin-top: -5.4rem
}

.text-sm {
  font-size: .8rem;
}

.text-md {
  font-size: .9rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 3rem;
}

.bold {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.fl {
  display: flex;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

button.pry {
  border: none;
  border-radius: 4px;
  padding: .7rem 1rem;
}